# The setup on the Hamburg LOFAR GPU Cluster.

lofar_prefix=$1 # Give installation directory as first argument.
aoflagger_version=2.14.0
casacore_version=latest
dysco_version=1.2.0
pybdsf_version=latest # weird C++ template error with 1.8.12
pycasa_version=3.1.1
wsclean_version=latest

# This gives us CUDA, gcc, Open MPI and dependencies
# from pkgsrc in separate prefixes.

. /sw/profile/init.sh
module switch env env/2019Q4-cuda-gcc-openmpi
module load pythonversion/3
# You could experiment with idg using MKL, but it is recommened
# to try a consistent environment where everyone agrees on using
# MKL for BLAS/LAPACK, too.
#module load mkl/2020.0.166
#idg_mkl=ON

make_jobs=64

export CC=gcc
export CXX=g++
export FC=gfortran
export CFLAGS="-march=native -O3 -fno-math-errno -ftree-vectorize"
export FCFLAGS="$CFLAGS"
export CXXFLAGS="-D_GLIB_USE_CXX_ABI=1 -DBOOST_NO_CXX11_SCOPED_ENUMS $CFLAGS"
# This should match what BLAS is used in the dependencies.
# If you venture to link statically, you might have to include
# BLAS_LIBS in LAPACK_LIBS, same for CBLAS, LAPACKE.
export BLAS_LIBS=$RRZ_BLAS_LIBS       # from the env/ module
export CBLAS_LIBS=$RRZ_CBLAS_LIBS     # from the env/ module
export LAPACK_LIBS=$RRZ_LAPACK_LIBS   # from the env/ module
export LAPACKE_LIBS=$RRZ_LAPACKE_LIBS # from the env/ modules
